@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}


.logo{
    background-color: transparent;
}

.logo img{
    background-color: transparent;
    max-height: 40px;
}

.main-section {
    max-width: 56rem;
    margin: 2rem auto;

}


table {
    width: 100%;
    border-collapse: collapse;
    text-align: justify;
}

thead {
    text-align: center;
}

tr {
    border-bottom: 1pt solid #e5e7eb;
}

.search-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}


.advanced-search{
    gap: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
}

.countrySearch, .characterSearch{
    display: flex;
    flex-direction: column;
    font-size: 11px;
    align-items: center;
    color: #8d8d8d;
}

.country-select, .character-select{
    border: solid 1px #bfbfbf;
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 27px;
    text-align: center;
    width: 270px;
}

.input-search-rank {
    border: solid 1px #bfbfbf;
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 27px;
    text-align: center;
    width: 235px;
}

.global-rank-mobile, .character-img-mobile, .character-mobile, .user-info-mobile, .rank-username, .country-mobile, .username-mobile, .country-mobile{
    background-color: transparent;
}

.country{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.country-flag img{
    width: 2rem;
}

.country-mobile{
    display: flex;
    align-items: center;
    gap: 3px;
}

.country-mobile, .country-flag, .country-name{
    background-color: transparent;
}

.user-info-mobile{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.character-img-mobile img {
    max-width: 70px;
    max-height: 70px;
    background-color: transparent;
}

.character-img{
    max-width: 70px;
}

.character-img img{
    max-width: 70px;
    max-height: 70px;
    background-color: transparent;
}

select.select-input-char {
    border: solid 1px #bfbfbf;
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    padding: 0 6px;
}

.user-card{
    display: flex;
    column-gap: 1rem;
    margin: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-radius: 5px;
}

.rank-username{
    display: flex;
    align-items: center;
    gap: 5px;
}

.rank-icon {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.rank-icon-6 {
    border: solid 3px rgb(233, 70, 121);
}

.rank-icon-5 {
    border: solid 3px rgb(159, 70, 176);
}

.rank-icon-4 {
    border: solid 3px rgb(0, 170, 220);
}

.username a {
    font-weight: 400;
    color: #755EB5;
}

.user-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.pagination {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}

.previous-page-btn,
.next-page-btn {
    border: none;
    font-size: large;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.previous-page-btn:hover,
.next-page-btn:hover {
    background-color: #4e4e4e22;
}

i.fa-solid.fa-angle-right,
i.fa-solid.fa-angle-left {
    background-color: transparent;
}